#Home {
	background-color: #2E4A62;
}

#About {
	background-color: lightgrey;
    margin: auto;
    width: 50%;
    border: 3px solid #2E4A62;
    padding: 10px;

}

#White {
	background-color: #550000;
}